/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#navContainer {
  height: 180px;
  text-align: center; }
  #navContainer #topHalf {
    height: 100px;
    background: url("../../imgs/logo.png") no-repeat;
    background-position: center;
    background-size: 22%; }
    #navContainer #topHalf #loginButton {
      font-size: 14px;
      line-height: 35px;
      float: right;
      width: 130px;
      height: 35px;
      margin: 15px;
      cursor: pointer;
      transition: .33s;
      letter-spacing: 1.3px;
      border-radius: 50px;
      background-color: #ffd700; }
      #navContainer #topHalf #loginButton:hover {
        background-color: #ffec00; }
  #navContainer #bottomHalf {
    height: 80px;
    background-color: #f7f7f7; }
    #navContainer #bottomHalf ul {
      cursor: pointer; }
      #navContainer #bottomHalf ul li {
        line-height: 80px;
        display: inline-block;
        height: 80px;
        margin: 0 50px;
        padding: 0 20px;
        transition: .33s;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 0 solid #ffd700; }
        #navContainer #bottomHalf ul li:hover {
          box-shadow: inset 0 -4px 0 0 #ffd700; }

#homeSplash {
  width: 100%;
  height: 400px;
  background: url("../../imgs/homeSplash.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#splashImage {
  width: 100%;
  height: 400px;
  opacity: .75;
  background: url("../../imgs/splash.jpg") no-repeat;
  background-position: left;
  background-size: 130%; }
  #splashImage #splashGradient {
    font-size: 50px;
    font-weight: 600;
    line-height: 200px;
    position: relative;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    color: #eee;
    border-radius: 200px;
    background: radial-gradient(rgba(30, 30, 30, 0.6), transparent 60%);
    background-position: left; }

#seasonalContainer .seasonalItems:nth-child(1) {
  background: url("../../imgs/pearBasil.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .seasonalItems:nth-child(2) {
  background: url("../../imgs/pumpkinJuice.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .seasonalItems:nth-child(3) {
  background: url("../../imgs/blackberrySmoothie.png") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .seasonalItems:nth-child(4) {
  background: url("../../imgs/appleCarrotGinger.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer {
  margin: 30px 0;
  text-align: center; }
  #seasonalContainer #seasonal li {
    display: inline-block;
    width: 20vw;
    height: 250px;
    margin: 5px;
    cursor: pointer;
    transition: .33s;
    border-radius: 2px;
    background-color: #999; }
    #seasonalContainer #seasonal li .blurDiv {
      width: 100%;
      height: 40px;
      background-color: RGBA(247, 247, 247, 0.4);
      filter: blur(5px); }
    #seasonalContainer #seasonal li .textDiv {
      font-size: 16px;
      line-height: 40px;
      position: relative;
      bottom: 40px;
      left: 0;
      width: 100%;
      height: 40px;
      letter-spacing: 1px;
      color: #313131;
      background-color: RGBA(247, 247, 247, 0.4); }
    #seasonalContainer #seasonal li:hover {
      width: 21vw; }

#seasonalContainer .menuItem:nth-child(1) {
  background: url("../../imgs/juice.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .menuItem:nth-child(2) {
  background: url("../../imgs/smoothies.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .menuItem:nth-child(3) {
  background: url("../../imgs/tea.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .menuItem:nth-child(4) {
  background: url("../../imgs/soup.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .menuItem:nth-child(5) {
  background: url("../../imgs/wraps.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .menuItem:nth-child(6) {
  background: url("../../imgs/salads.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .menuItem:nth-child(7) {
  background: url("../../imgs/berries.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#seasonalContainer .menuItem:nth-child(8) {
  background: url("../../imgs/desserts.jpg") no-repeat;
  background-position: center;
  background-size: cover; }

#footer {
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #e5e5e5; }
  #footer .socialMedia {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 15px 8px 0 8px;
    cursor: pointer; }
  #footer #facebook {
    background: url("../../imgs/facebook.png") no-repeat;
    background-position: center;
    background-size: 100%; }
  #footer #twitter {
    background: url("../../imgs/twitter.png") no-repeat;
    background-position: center;
    background-size: 100%; }
  #footer #googlePlus {
    background: url("../../imgs/googlePlus.png") no-repeat;
    background-position: center;
    background-size: 100%; }
  #footer #youtube {
    background: url("../../imgs/youtube.png") no-repeat;
    background-position: center;
    background-size: 100%; }

body {
  font-family: 'Roboto', sans-serif; }
  body a {
    text-decoration: none;
    color: inherit; }
    body a:visited {
      text-decoration: none;
      color: inherit; }

h1 {
  font-size: 30px;
  font-weight: 100;
  margin: 30px 0;
  text-align: center;
  letter-spacing: 2px; }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 30px;
  font-weight: 100;
  margin: 30px 0;
  text-align: center;
  letter-spacing: 2px; }
