// ------ PLACEHOLDERS SASS ------
%navContainer
{
    height: $navContainerHeight;

    text-align: center;

    // background-color: orange;
    // ----------
    #topHalf
    {
        height: $logoHeight;
        // background-color: red;

        background: url('../../imgs/logo.png') no-repeat;
        background-position: center;
        background-size: 22%;

        #loginButton
        {
            font-size: 14px;
            line-height: 35px;

            float: right;

            width: 130px;
            height: 35px;
            margin: 15px;

            cursor: pointer;
            transition: .33s;
            letter-spacing: 1.3px;

            border-radius: 50px;
            background-color: #ffd700;

            &:hover
            {
                background-color: adjust-hue(#ffd700, 5);
            }
        }
    }
    // -----------
    #bottomHalf
    {
        height: $listHeight;

        background-color: #f7f7f7;
        // ----- NAV BUTTONS LIST -----
        ul
        {
            cursor: pointer;

            li
            {
                line-height: $listHeight;

                display: inline-block;

                height: $listHeight;
                margin: 0 50px;
                padding: 0 20px;

                transition: .33s;
                letter-spacing: 1px;
                text-transform: uppercase;

                border-bottom: 0 solid #ffd700;

                &:hover
                {
                    // background-color: #67bcfc;
                    // border-bottom: 3px solid #ffd700;
                    box-shadow: inset 0 -4px 0 0 #ffd700;
                }
            }
        }
    }
}

%splash
{
    width: 100%;
    height: 400px;

    background: url('../../imgs/splash.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

// -----

%seasonal
{
    margin: 30px 0;
    // display: block;

    text-align: center;

    #seasonal
    {
        li
        {
            display: inline-block;

            width: 20vw;
            height: 250px;
            margin: 0 5px;

            cursor: pointer;
            transition: .33s;

            border-radius: 2px;
            background-color: #999;

            // -----NTH CHILD BACKGROUNDS

            &:nth-child(1)
            {
                background: url('../../imgs/pearBasil.jpg') no-repeat;
                background-position: center;
                background-size: cover;
            }

            &:nth-child(2)
            {
                background: url('../../imgs/pumpkinJuice.jpg') no-repeat;
                background-position: center;
                background-size: cover;
            }

            &:nth-child(3)
            {
                background: url('../../imgs/blackberrySmoothie.png') no-repeat;
                background-position: center;
                background-size: cover;
            }

            &:nth-child(4)
            {
                background: url('../../imgs/appleCarrotGinger.jpg') no-repeat;
                background-position: center;
                background-size: cover;
            }
            // ----- SPAN STYLING
            & .blurDiv
            {
                // display: none;
                width: 100%;
                height: 40px;

                background-color: RGBA(247, 247, 247, .4);

                filter: blur(5px);
            }
            & .textDiv
            {
                font-size: 16px;
                line-height: 40px;

                position: relative;
                bottom: 40px;
                left: 0;
                // display: none;

                width: 100%;
                height: 40px;

                letter-spacing: 1px;

                color: #313131;
                background-color: RGBA(247, 247, 247, .4);
            }

            &:hover
            {
                width: 21vw;
                height: 260px;
            }
        }
    }
}
